# Core dependencies
streamlit>=1.31.0
raglite==0.2.1
pydantic==2.10.1
sqlalchemy>=2.0.0
openai>=1.0.0
cohere>=4.37
rerankers==0.6.0

# PDF processing
PyPDF2>=3.0.0
pdf2image>=1.16.3
poppler-utils
pypandoc_binary
# pypandoc[all]
# pandoc

# Template engine
jinja2>=3.1.0

# Database
psycopg2-binary>=2.9.9  # Optional: for PostgreSQL support

# NLP and text processing
spacy>=3.7.0
python-dotenv>=1.0.0

# Download spacy model during deployment
xx_sent_ud_sm @ https://github.com/explosion/spacy-models/releases/download/xx_sent_ud_sm-3.7.0/xx_sent_ud_sm-3.7.0-py3-none-any.whl
# en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0-py3-none-any.whl

